
  <div class="hero">
    <h1 class="title-en">Libreاُردو</h1>

    <p class="subtitle-en">
      The open, modern and accessible platform for learning Urdu.
    </p>
    <button class="get-started-hero-btn" (click)="navigateToDashboard()">
      Get Started with Libreاُردو
    </button>
    
  </div>

  <section class="section">
    <h2 class="heading-en">Mission</h2>
    <h2 class="heading-ur">مقصد</h2>
    <p class="text">
      Our mission is to make Urdu learning enjoyable and widely accessible by providing a complete,
      high-quality curriculum that anyone can access from anywhere with ease. We aim to make learning Urdu fun and easy for everyone. We do not want to see such rich cultural heritage slowly die out or worse appropriated by foreign powers.
    </p>
  </section>

  <section class="section">
    <h2 class="heading-en">Vision</h2>
    <h2 class="heading-ur">نظریہ</h2>
    <p class="text">
      We envision a world where Urdu can be learned freely through immersive,
      beautifully designed digital lessons. We want to make the new generation of Urdu learners feel proud of their language and culture.
    </p>
  </section>

  <section class="section">
    <h2 class="heading-en">About us</h2>
    <h2 class="heading-ur">ہمارے بارے میں</h2>
    <p class="text">
      LibreUrdu is an open-source project that offers structured lessons, vocabulary practice, reading material, and 
      interactive tools that help beginners and advanced learners improve their Urdu fluency. We are a team of volunteers who are passionate about Urdu and want to make it accessible to everyone.
    </p>
  </section>
   <div class="cta-container">
    <button class="get-started-btn" (click)="navigateToDashboard()">
      Get Started with Libreاُردو
    </button>
  </div>
